/* p::before{
    content: "Note:";
    font-weight: bold;
} */

#section:target{
    background-color: yellow;
}

p:lang(en){
    font-style: italic;
}

input:optional{
    border: 2px solid green;
    border-radius: 5px;
}
.element {
    background-color: lightyellow;
  }
  
.element:fullscreen {
    background-color: rgb(167, 60, 76);
  }